<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<!-- Include Head -->

<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include("./partials/headerLogueado",{usuario: locals.user}) %>
	<% } else { %>
		<%- include("./partials/header") %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>

			<!-- Show the "ultimos" products -->

	<form class="product-form" method="post" action="/products/agregarproducto">
		<label> Imagen del producto: </label>
		<div>
			<input placeholder="Agregar una imagen" type="text" name="imagen" required>
		</div> 
		<label> Nombre del producto: </label>
		<div>
			<input placeholder="Nombre del producto" type="text" name="nombre" required> 
		</div>
		<label> Descripción del producto: </label>
		<div>
			<input placeholder="Agregar una descripción" type="textarea" name="descripcion" required> 
		</div>
		<div>
			<button type="submit"> Subir producto </button>
		</div>
	</form>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>