<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
 <head> <%- include('./partials/head') %> </head>
<!-- Include Head -->

<body>
	<!-- Header -->
	<header> <%- include('./partials/header') %> </header>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>

			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> Cargar producto </h2>

	<form method = 'get' action="/">
		<input placeholder="Agregar una imagen" type="text" name="imagen"> <label> Imagen del producto: </label>
		<input placeholder="Nombre del producto" type="text" name="nombre"> <label> Nombre del producto: </label>
		<input placeholder="Agregar una descripción" type="textarea" name="descripcion"> <label> Descripción del producto: </label>
		<button type="submit"> Subir producto </button>
	</form>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>