<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action='/users/register'class="login-form" method="POST" action="/">
		<label>Email: </label>
		<div>
			<input class="campo" placeholder="Ingrese su email" type="email" name="email" required>
		</div> 
		<label>Usuario: </label>
		<div>
			<input class="campo" placeholder="Ingrese un nombre de usuario" type="text" name="usuario" required> 
		</div>
		<label>Contraseña: </label>
		<div>
			<input class="campo" placeholder="Ingrese su contraseña" type="password" name="contrasena" required> 
		</div>
		<div>
			<button type="submit"> Registrarme </button>
		</div>
	</form>

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>